# Ignore everything in the root
/*

# Whitelist directories and root files
!/firmware/
!/docs/
!/scripts/
!/frontend/
!/android_app/
!/release/
!/release/*.bin
!.gitignore
!/platformio.ini
!/README.md

# ----------------------------------------------------
# Blacklist specific patterns inside the whitelisted dirs
# ----------------------------------------------------

# OS & IDE
**/.DS_Store
**/Thumbs.db
**/desktop.ini
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*~

# PlatformIO & Build artifacts
**/.pio/
**/.pioenvs/
**/.piolibdeps/
**/build/
**/*.o
**/*.elf
**/*.bin
**/*.hex
**/*.map

# Docs specific ignores
/docs/*.pdf
/docs/convert.ps1

# Python & Node ignores
**/__pycache__/
**/*.pyc
**/node_modules/
**/.env

# Android App ignores
/android_app/*.zip

# Override global binary ignore for release files
!/release/
!/release/*.bin
